.footer {
  background-color: var(--ifm-color-primary);
  padding: 50px 0;
  color: #fff;

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  &__menu {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;
    padding-left: 15px;

    @media (max-width: 1440px) {
      grid-template-columns: 5fr;
      padding-right: 15px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 1440px) {
      order: -1;
    }

    & a {
      font-size: 18px;
      color: #fff;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__logo {
    font-size: 0;
    height: 55px;
    margin-bottom: 22px;

    & img {
      width: auto;
      height: 100%;
    }
  }
}